<div class="card m-5">
    <div class="card-body">
        <table class="table">
            <caption>Categories</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Values</th>
                    <th>New values (comma-separated)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of this.categorias">
                    <td>Category {{c.id}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let v of c.candidatas">
                                {{v}}
                            </li>
                        </ul>
                    </td>
                    <td><textarea class="form-control" type="text" [(ngModel)]="c.candidatas_texto"></textarea></td>
                    <td>
                        <button class="btn btn-primary mx-1" (click)="this.editarCategoria(c.id)">Update</button>
                        <button class="btn btn-danger mx-1" (click)="this.eliminarCategoria(c.id)">Delete</button>
                </tr>
            </tbody>
        </table>
        <button *ngIf="this.categorias.length < 5" class="btn btn-success" (click)="this.agregarCategoria()">Add category</button>
    </div>
</div>


<div class="card m-5">
    <div class="card-body">
        <table class="table">
            <caption>Answers</caption>
            <thead>
                <tr>
                    <th scope="col">Text</th>
                    <th *ngFor="let c of this.categorias" scope="col"> Category {{c.id}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of this.respuestas">
                    <td><textarea class="form-control" type="text" [(ngModel)]="r.text"></textarea></td>
                    <td *ngFor="let c of r.categorias_">
                        <span class="badge {{getConfianzaClass(c.confianza)}} rounded-pill d-inline">{{c.seleccionada}} | {{getConfianza(c.confianza)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button *ngIf="this.respuestas.length < 10" class="btn btn-success mx-1" (click)="this.agregarRespuesta()">Add answers</button>
        <button *ngIf="this.categorice_enable" class="btn btn-primary mx-1" (click)="this.categorizar()">Categorize answers</button>
    </div>
</div>