<!-- New Quiz button -->
<button class="btn btn-primary btn-sm m-2" (click)="newQuiz()">
  <i class="fas fa-plus"></i>
  Nueva encuensta
</button>

<h2>Mis encuestas</h2>

<div class="list-group">
    <a *ngFor="let quiz of this.ownQuizs" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ quiz.name }}</h5>
        <div class="justify-content-center">
          <button (click)="this.navigateToQuiz(quiz.id)" class="btn btn-primary btn-sm m-1"><i class="fas fa-eye    "></i></button>
          <button (click)="deleteQuiz(quiz.id)" class="btn btn-danger btn-sm m-1"><i class="fas fa-trash"></i></button>
          <button (click)="editQuiz(quiz.id)" class="btn btn-primary btn-sm m-1"><i class="fas fa-pencil-alt"></i></button>
          <button [routerLink]="['/dashboard/statistics/', quiz.id]" class="btn btn-success btn-sm m-1"><i class="fas fa-chart-bar"></i></button>
        </div>
        <small>{{ quiz.date_published | date:'short' }}</small>
      </div>
      <small>{{quiz.description}}</small>
    </a>
  </div>

  <h2>Encuestas compartidas</h2>

  <div class="list-group">
    <a *ngFor="let quiz of this.shareQuizs" (click)="navigateToQuiz(quiz.id)" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ quiz.name }}</h5>
        <small>{{ quiz.date_published | date:'short' }}</small>
      </div>
    </a>
  </div>
