<!-- New Quiz button -->
<button class="btn btn-primary btn-sm m-2" (click)="newQuiz()">
  <i class="fas fa-plus"></i>
  Nueva encuensta
</button>
<div class="list-group">
    <a *ngFor="let quiz of this.quizs" (click)="navigateToQuiz(quiz.id)" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ quiz.name }}</h5>
        <div class="justify-content-center">
          <button (click)="deleteQuiz(quiz.id)" class="btn btn-danger btn-sm m-1">Eliminar</button>
          <button (click)="editQuiz(quiz.id)" class="btn btn-primary btn-sm m-1">Editar</button>
          <button (click)="navigateToQuiz(quiz.id)" class="btn btn-primary btn-sm m-1">Ver</button>
        </div>
        <small>{{ quiz.date_published | date:'short' }}</small>
      </div>
      <!-- <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small>And some small print.</small> -->
    </a>
  </div>
